﻿.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
}
.headline h1 {
    color: white;
}

footer {
    background-color: #383838;
    color: white;
    padding: 30px 0;
}
ul{
    margin-bottom: 0;
}